body {
  background-color: #fafafa;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
}

hr {
  border-color: #c9d6df;
  border-style: none;
  border-top-style: solid;
  width: 70%;
  margin-top: 50px;
  margin-bottom: 0;
}

p {
  line-height: 1.5;
}

.top-container {
  background-color: #404b69;
  height: 600px;
  width: 100%;
  text-align: center;
  padding-top: 100px;
}

.top-container h1 {
  font-size: 3.125rem;
  color: #dbedf3;
  margin-bottom: 28px;
}

.top-name {
  cursor: none;
}

.top-name:hover {
  color: #fdffab;
}

.top-container p {
  color: #dbedf3;
  font-size: 1.3em;
}

.tree {
  height: 400px;
  width: auto;
  position: relative;
  top: 26px;
  z-index: 20;
}

.cloud-1 {
  height: 50px;
  width: auto;
  position: absolute;
  top: 60px;
  right: 30%;
  transition-duration: 0.6s;
  z-index: 10;
}

.cloud-1:hover {
  right: 25%;
}

.cloud-2 {
  height: 50px;
  width: auto;
  position: absolute;
  top: 220px;
  left: 27%;
  transition-duration: 0.6s;
  z-index: 10;
}

.cloud-2:hover {
  left: 22%;
}

.cloud-3 {
  height: 50px;
  width: auto;
  position: absolute;
  top: 400px;
  right: 20%;
  transition-duration: 0.6s;
  z-index: 10;
}

.cloud-3:hover {
  right: 25%;
}

.middle-container {
  background-color: #dbedf3;
}

.profile {
  height: 350px;
  width: 100%;
  text-align: center;
  padding: 0;
  padding-top: 50px;
}

.profilepic {
  height: 150px;
  width: 150px;
}

.profile h2 {
  color: #f95959;
  width: 300px;
  margin: 28px auto 28px auto;
}

.profile p {
  color: #283149;
  width: 470px;
  margin-left: auto;
  margin-right: auto;
}

.skills {
  height: 400px;
  width: 100%;
  text-align: center;
  padding: 0;
  padding-top: 50px;
  padding-bottom: 0;
}

.skills h2 {
  color: #f95959;
}

.skill-row-1 {
  display: inline-block;
  height: 300px;
  width: 300px;
  margin: 50px auto 0 auto;
  position: relative;
  right: 50px;
}

.skill-row-1 h3 {
  color: #283149;
  width: 300px;
  margin-bottom: 28px;
  transition-duration: 0.3s;
  padding: 3px 0;
}

.skill-row-1 h3:hover {
  background-color: #f73859;
  color: white;
}

.skill-row-1 p {
  color: #283149;
}

.skill-row-2 {
  display: inline-block;
  height: 300px;
  width: 300px;
  margin: 50px auto 0 auto;
}

.skill-row-2 h3 {
  color: #283149;
  width: 300px;
  margin-bottom: 28px;
  transition-duration: 0.3s;
  padding: 3px 0;
}

.skill-row-2 h3:hover {
  background-color: #f73859;
  color: white;
}

.skill-row-2 p {
  color: #283149;
}

.skill-row-3 {
  display: inline-block;
  height: 300px;
  width: 300px;
  margin: 50px auto 0 auto;
  position: relative;
  left: 50px;
}

.skill-row-3 h3 {
  color: #283149;
  width: 300px;
  margin-bottom: 28px;
  transition-duration: 0.3s;
  padding: 3px 0;
}

.frontend-img {
  transition-duration: 0.3s;
}

.frontend-img:hover {
  transform: translateY(-5px);
}

.backend-img {
  transition-duration: 0.3s;
}

.backend-img:hover {
  transform: translateY(-5px);
}

.sushi-img {
  transition-duration: 0.3s;
}

.sushi-img:hover {
  transform: translateY(-5px);
}

.skill-row-3 h3:hover {
  background-color: #15b7b9;
  color: white;
}

.skill-row-3 p {
  color: #283149;
}

.contact-me {
  height: 350px;
  width: 100%;
  text-align: center;
  padding: 0;
  padding-top: 50px;
  padding-bottom: 0;
}

.contact-me h2 {
  color: #f95959;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 28px;
}

.contact-me h3 {
  color: #283149;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 28px;
}

.contact-me p {
  color: #283149;
  width: 430px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 28px;
}

.btn {
  text-decoration: none;
  color: #fafafa;
  background-color: #404b69;
  box-shadow: inset 0 -2px 1px rgba(0, 0, 0, 1), inset 0 2px 1px #404b69;
  padding: 12px 12px;
  border-radius: 12px;
  cursor: pointer;
}

.btn:hover {
  background-color: #283149;
  color: #fdffab;
  box-shadow: none;
  position: relative;
  top: 1px;
}

.bottom-container {
  background-color: #f73859;
  height: 300px;
  width: 100%;
  text-align: center;
  padding: 0;
  padding-top: 50px;
}

.bottom-container p {
  color: white;
}

.footer {
  display: inline-block;
  margin: 0 25px 56px 25px;
}

.fa {
  padding: 5px;
  font-size: 40px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  transition: 0.3s;
}

.fa:hover {
  transform: rotateY(360deg);
}

.fa-send {
  font-size: 24px;
  margin-right: 10px;
  padding: 0;
  width: auto;
  position: relative;
  top: 3px;
}

.fa-send:hover {
  transform: none;
}

.fa-github {
  color: white;
}

.fa-dribbble {
  color: white;
}

.fa-youtube {
  color: white;
}

.footer-link {
  text-decoration: none;
  color: white;
}
